<!DOCTYPE HTML>
<html>
<script></script>

<body>
<div>
    <form action="/signup" method="post">
        <fieldset> <legend>회원가입</legend>
            <div>
                ID &nbsp;&nbsp;: <input type="text" id="id" name="id" placeholder="ID" autofocus required><br>
                PW : <input type="password" id="password" name="password" placeholder="Password" required/><p>
            </div>
            <div>
                <button id="signup_submit">제출</button>
                <a href="/">나가기</a>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>