<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>웹 마피아</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>


    <script th:inline="javascript">
        /*<![CDATA[*/

        console.log( /*[[ ${userlist} ]]*/); //유저 이름이 배열로 나오는데
        console.log( /*[[ ${username} ]]*/); //username찍으면 정말 자기거만 출력되서 반복돌리면 자기 이름만 3명나옴

        var socket;
        var username = /*[[${username}]]*/;
        var roomNumber = /*[[${roomNumber}]]*/;

        $(document).ready(function () {

            var sock = new SockJS("/chat"); // endpoint
            var client = Stomp.over(sock);

            socket = client;
            isStomp = true;

            client.connect({}, function () {
                // 해당 토픽 구독
                client.subscribe('/topic/' +/*[[${roomNumber}]]*/, function (event) {
                    $(".chat_box").append("\n" + JSON.parse(event.body).id + " >> " + JSON.parse(event.body).msg);
                    $(".chat_box").scrollTop($(".chat_box").prop('scrollHeight'));
                });

                // mafia 라고 가정
                client.subscribe('/topic/' +/*[[${roomNumber}]]*/ +"mafia", function (event) {
                    $(".chat_box").append("\n[Mafia} " + JSON.parse(event.body).id + " >> " + JSON.parse(event.body).msg);
                    $(".chat_box").scrollTop($(".chat_box").prop('scrollHeight'));
                });
                // 게임 시작 준비
                client.subscribe('/start/' +/*[[${roomNumber}]]*/, function (event) {
                    initGame();
                });
            });
        });

        function sendmsg() {
            if (!socket.connected) {
                client = Stomp.over(sock);
                $(".chatsub").val('');
                $(".chat_box").append("\n채팅 서버에 접속중입니다 잠시만 기다려주세요");
                $(".chatsub").focus();
            } else {
                if ($("#inlineFormCustomSelectPref option:selected").val() == 0) { // 0이면 전체 1이면 팀채팅
                    socket.send("/room/" +/*[[${roomNumber}]]*/, {},
                        JSON.stringify({
                                'msg': $(".chatsub").val(),
                                'id': /*[[${username}]]*/,
                                'roomid': /*[[${roomNumber}]]*/
                            }
                        ));
                } else {
                    socket.send("/room/" +/*[[${roomNumber}]]*/ +"/mafia", {}, // maifa팀이라 가정
                        JSON.stringify({
                                'msg': $(".chatsub").val(),
                                'id': /*[[${username}]]*/,
                                'roomid': /*[[${roomNumber}]]*/
                            }
                        ));
                }

                $(".chatsub").val('');
                $(".chatsub").focus();
            }
        }

        /* setInterval(function(){
            $.ajax({
                type:"post",
                url:`/enter/${roomNumber}`,
                success:function(data){
                    }
                })
            },5000); */


        /*$(function(){
            $('#start').on("click",function(){
                $.ajax({
                    type:"post",
                    url:`/enter/${roomNumber}`,
                    dataType:"json",
                    async:false,
                    success:function(data){
                        console.log(data);
                        alert("성공");
                    }
                });
            });
        });*/

        var socket = null;
        var isStomp = false;

        function enter() {
            if (event.keyCode == 13) {
                if (!event.shiftKey) sendmsg();
            }
        }

        /*]]>*/
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

        .chat_box {
            border: none;
            resize: none;
            width: 100%;
            height: 80%;
            background-color: transparent;
            outline: 0px;
        }

        ::-webkit-scrollbar {
            width: 15px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #2f3542;
            border-radius: 10px;
            background-clip: padding-box;
            border: 2px solid transparent;
        }

        ::-webkit-scrollbar-track {
            background-color: grey;
            border-radius: 10px;
            box-shadow: inset 0px 0px 5px white;
        }
        @media(max-width:768px){
            .minisize{display:none}
            .nobpi{height:285px}
        }
        @media(min-width:768px){
            .maxsize{display:inline}
            .maxview{display:none}
            .nobpii{height:650px}
        }
    </style>
    <style type="text/css">
        .jumbotron {
            font-family: 'Nanum Pen Script';
            font-size: 1.3em;
            background-image: url('https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844227_960_720.png');
            background-size: cover;
        }
    </style>

</head>

<body>

<!-- 게임팀 읽어볼 것 -->
<!-- userlist 배열에 방 접속중인 사용자 목록 들어있음 호출해서 현재인원 출력시킬 것(완료) -->
<!-- 게임 실행 시 역할분담에 필요한 통신 자세하게 설명할 것(통신 방식에 대한것? or 통신에 사용되는 변수들?-->
<!-- 접속중인 방 번호 화면에 출력하기(완료) -->
<!-- 반응형으로 웹 리사이징 시 크기 조절하는 코드 구현 -->

<!-- 서버팀 읽어볼 것 -->
<!-- 채팅이 지속해서 끊기는 현상 발생 / 자동 재접속 코드 구현할 것 -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Web Mafia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">대기방 <span class="sr-only">(current)</span></a>
                <!-- 링크 연결 필요 부분 -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">채널</a>
                <!-- 링크 연결 필요 부분 -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    도움말
                    <!-- 링크 연결 필요 부분 -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">게임방법</a>
                    <!-- 링크 연결 필요 부분 -->
                    <a class="dropdown-item" href="#">제작자</a>
                    <!-- 링크 연결 필요 부분 -->
                    <a class="dropdown-item" href="#">역할 설명</a>
                    <!-- 링크 연결 필요 부분 -->
                </div>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" >나가기</a>
                <!-- 링크 연결 필요 부분 -->
            </li>

        </ul>
    </div>
</nav>
<div class="jumbotron my-3 mx-4" id="jumb">
    <div class="container-fluid">
        <div class="my-2 row nobpi nobpii">
            <div class="col-9">
                <h1 th:text="${roomNumber}+번방"></h1>
                <div class="minisize">
                <span class="text-info">생존자 현황</span><br>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg" th:each="String : ${userlist}">
                    <path fill-rule="evenodd"
                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg>
                </div>
                <hr class="my-3">
                <div style="height:72%;">
                    <textarea class="chat_box" readonly> </textarea>
                </div>
                <!-- 채팅창 연결 -->
            </div>
            <div class="row-2 border minisize" style="width:250px; min-width:208px">
                <div class="my-2" style="min-width:165px">
                    <dl>
                        <dt>
                            <h4>현재인원</h4>
                            <!--num :${#numbers.sequence(1,5)} -동현(테스트용으로 적어봄) -->
                            <!--새로운 유저 접속시 자동으로 유저리스트 갱신되도록 ajax로 처리할 것 -->
                        <dd th:each="userlist, stat : ${userlist}" th:object="${userlist}">
                            <button type="button" style="border:none; background-color : rgba(0,0,0,0)" th:id="vote_+${stat.index}">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <span class="mx-2"><span id="hi" th:text="${stat.current}"></span></span></svg></button>
                        </dd>
                        </dt>
                        <div class="my-4">
                            <dt>
                                <h4>사망자</h4>
                            <dd>
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <span class="mx-2">사용자</span>
                                </svg>
                            </dd>
                            </dt>
                        </div>
                    </dl>

                </div>
            </div>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col-4">
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="min-width:85px">
                    <option selected value="0">일반채팅</option>
                    <option value="1">팀채팅</option>
                </select>
                <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
                <input type="text" class="form-control chatsub" id="inputSuccess5"
                       aria-describedby="inputSuccess5Status" onkeypress="enter();" autofocus />
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess5Status" class="sr-only">(success)</span>
            </div>
            <div class="row">
                <div style="padding-5px;">
                <p class="text-right" style="min-width:120px;">
                    <button class="my-3 btn btn-primary" type="button"
                                              onclick="sendmsg();">전송하기</button></p>
                </div>
                <div style="padding-5px;">
                    <p class="text-right" style="min-width:120px;">
                    <button type="button" class="btn btn-primary btn-lg" id="start" >게임 시작<span
                        class="mx-1 badge badge-light"><span th:text="${userlist.size()}"></span></span></button>
                </div>
                <!-- 서버로부터 사용자수 받아와서 표시-->
            </div>
        </div>
        <div class="row-2 border maxsize maxview" style="width:250px; min-width:208px;">
            <div class="my-2" style="min-width:165px;">
                <dl>
                    <dt>
                        <h4>현재인원</h4>
                        <!--num :${#numbers.sequence(1,5)} -동현(테스트용으로 적어봄) -->
                        <!--새로운 유저 접속시 자동으로 유저리스트 갱신되도록 ajax로 처리할 것 -->
                    <dd th:each="userlist, stat : ${userlist}" th:object="${userlist}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <span class="mx-2"><span th:text="${stat.current}"></span></span>
                        </svg>
                    </dd>
                    </dt>
                    <div class="my-4">
                        <dt>
                            <h4>사망자</h4>
                        <dd>
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <span class="mx-2">사용자</span>
                            </svg>
                        </dd>
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>


<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script> -->
<script src="/js/test.js"></script>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>